.media {
  background-color: #e4790f;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}
.media a {
  color: #262626;
  text-decoration: none;
}

main {
  background-color: #e4790f;
}

main > div {
  padding-block: 3%;
  padding-inline: 1%;
}
.a-block {
  display: block;
  background-size: cover;
  background-position: center center;
  padding: 2%;
  height: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-decoration: none !important;
}
.no-souligne {
  text-decoration: none;
  color: white;
}
.a-block .text.half-to-full {
  max-width: 80%;
}
.card {
  border: none !important;
  border-radius: 1rem !important;
}
.card img {
  width: 100%;
}

.row {
  display: flex;
}

.biographie {
  background-color: white;
  padding: 3%;
}
.biographie img {
  width: 50%;
  margin-block-start: -10%;
  border-radius: 50%;
}
.biographie p {
  margin-block-start: 5%;
}

.identifications {
  background-color: #fff;
  padding: 5%;
  margin: 3%;
  width: 94% !important;
}

.newsletter {
  padding: 5%;
  margin: 3%;
  width: 94% !important;
}
.newsletter input {
  padding: 2%;
  margin: 3%;
  width: 94% !important;
}
.newsletter button {
  padding: 2%;
  margin: 3%;
  width: 94% !important;
}

footer {
  background-color: #262626;
  color: #fff;
  display: flex;
  justify-content: center;
}
